@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
.text{
    font-family: Noto Sans;
    font-size: 50px;
    text-align: center;
}
.stext{
    font-family: Noto Sans;
    font-size: 15px;
    text-align: center;
}
.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}
.header {
    background: rgb(73, 155, 234);
    border-bottom: 1px solid #dbdbdb;
    font-family: arial, sans-serif;
    color: #ffffff;
    padding: 10px;
}
.boogle-small {
    width: 96px;
    height: 29px;
    background: url(https://s3-eu-west-1.amazonaws.com/ownpictures/boogle.gif);
    display: block;
    left: -5px;
    top: -5px;
    position: relative;
    float: left;
}
.header-links {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
#glavni del {
    width: 100%;
    font-family: "Noto Sans",sans-serif;
    color: #555555;
    font-size: 12px;
    min-height: 100%;
    position: relative;
}
.header-links li {
    display: inline;
    padding: 0;
}
.header-links li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    padding: 0 8px 0 8px;
}
#offered {
    line-height: 28px;
    text-align: center;
    font-family: "Noto Sans", serif;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.gumbi {
    padding-top: 34px;
    margin: 0 auto;
    text-align: center;
}
#footer {
    height: 60px;
    font-size: 14px;
    width: 1200px;
    position: absolute;
    display: inline;
    text-align: center;
    margin-left: 9%;
}
html,
body {
    margin: 0;
    padding:0;
    height: 100%;
}
#body {
    padding: 10px;
    padding-bottom: 60px;
}
.button {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}